@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* For Dark Theme */
	--dark-p: #10172b;
	--dark-s: #20293c;
	--dark-text: #798499;

	/* For Light Theme */
	--light-p: #fff;
	--light-s: #20293c;
	--light-text: #3c4252;
	--text-active: #49a5db;
	--light-gray: #dddddd;

	/* KeyBoard Specific Color */
	/* disable- , active- , currentKeyPress - , wrongCurrentKeyPress- */

	/* Text Input Box Specific Color */
	/* Red-500, Green-500 */
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #888;
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--dark-s);
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--light-text);
}

/* Blinking Cursor Animations */
@keyframes blinking {
	0% {
		border-bottom-color: var(--light-gray);
	}
	25% {
		border-bottom-color: var(--dark-p);
	}
	50% {
		border-bottom-color: var(--light-gray);
	}
	75% {
		border-bottom-color: var(--dark-p);
	}
	100% {
		border-bottom-color: var(--light-gray);
	}
}
.current {
	border-bottom: 4px solid;
	animation: blinking 2s infinite;
	animation-timing-function: ease;
}

/* Correct Key Pressed */
.correct {
	color: green;
}
/* Incorrect Key Pressed */
.incorrect {
	color: red;
}
.red-blinking-effect {
	outline-style: solid;
	outline-color: red;
	outline-width: 2px;
}
